.Team{
    display: flex;
    padding-top: 15px;
    gap: 20%;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 40px;
}

.Team img {
    width: 250px;
    border-radius: 40px;
}

.Team section h4{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-right: 10px;
}

.Team section p{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-right: 10px;
}
