/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap'); */

.footer{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    border-top: 3px solid black;
    padding: 10px;
}

.footer span{
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
}