/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap'); */

.footer{
    background-color: #63A6B5;;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    bottom: 0;
}

.footer span{
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
}