.MainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    padding: 30px;
    padding-top: 140px;
    margin-bottom: 40px;
}

* {
    padding: 0;
    margin: 0;
}

.MainContent h2{
    font-weight: 900;
    
}

.MainContent p{
    width: 80%;
    text-align: left;
    margin-top: 15px;
}

.MainContent img {
    border-radius: 50px;
    width: 100%;
}

.MainContent button{
    border-radius: 40px;
    background-color: #63A6B5;
    padding: 10px;
    font-weight: 700;
    color: white;
    font-size: 15px;
    width: 150px;
    border: none;
    height: 50px;
    margin-top: 15px;
}