@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.header{
    background-color: rgb(0, 255, 255);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    align-items: center;
    border-bottom: 3px solid black;
    
}

.header span{
    padding-left: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px; 
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.5); 
}

.header nav{
    margin-right: 8%;
}

.header nav ul{
    display: flex;
    list-style-type: none;
    gap: 20%
}

.header nav ul li a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.5); 
    font-size: 20px; 
}

.header nav ul li a:hover{
    color: #000000;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.99); 
}